<head>
    <!doctype html>
    <html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
    </body>
    </html>
<link rel="stylesheet" href="{{ asset('styles/style.css')}}"/>
</head>
<header>

    <nav>
        <ul>
            <li><a href="{{ path('home') }}">Accueil</a></li>
            <li><a href="{{ path('ListPokemon') }}">Pokédex</a></li>
            <li><a href="{{ path('ListCategories') }}">les éléments</a></li>
            <li><a href="{{ path('Roulette') }}">la Roulette</a></li>
            <li><a href={{ path('PokemonSearch') }}>Cherchez votre Pokemon</a></li>
        </ul>
    </nav>

    <div class="logo"><img src="../public/img/58341.png" alt=""></div>

</header>
{% block content %}
{% endblock %}
{% block type%}
{% endblock %}
<footer>
    <div class="logo"><img src="../public/img/58341.png" alt=""></div>



</footer>