
{% extends 'Base.html.twig' %}
{% block title %}ListePokemon{% endblock %}
{% block content %}

<main>
<section class="pokedex">
{% for pokemon in pokemons %}
    {% if pokemon.isPublished %}
<article class="pokemon">
    <p>{{pokemon.id}}</p>
    <a class='namePoKe' href="{{ path('ShowPokemon',{idPokemon:pokemon.id}) }}">{{pokemon.title}}</a>
    <p>{{pokemon.content}}</p>
    <div class="pokeke"><img src='{{ asset('img/'~pokemon.img)}}' alt=""></div>
</article>
    {% endif %}
{% endfor %}
</section>
</main>
{% endblock %}